
#cabecalho{
    background: #191919;
}
.X{
    background: #191919;
}
#rodape{
    background: url(imagens/bg.jpg);
    text-align: center;
    margin-top: 5px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;  
}
nav{
    position: absolute;
    top:100px;
    right: 0;
}
nav a{
    text-transform: uppercase;
    text-decoration:none;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.estrutura{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}

li a:hover{
    color: #05f2f291;
 text-decoration: double;
} 



#rodape .copy {
    font-size: 13px;
    color: #FFFFFF;
    padding: 5px 0;
}

.label{
    display: block;
    margin: 0 0 5px;
    font-size: 18px;
}
.input-p{
    display: block;
    margin: 0 0 5px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 20px;
    border-color: transparent;
}

form{
    
    width: 940px;
    margin: 5px auto;
    
}
div label{
    display:block;
    margin: 3px 0 ;
    font-size: 18px;
}
#enviar{
    width: auto;
    display: block;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 20px;
    border-color: transparent;
    

}
#enviar:hover{
    background: #05f2f263;
    color: #f0f0f0ef;
}

#contatos{
    width: auto;
    margin: 5px auto;
}

.L:hover{
    font-size:20px ;
}
#radio-email, #radio-telefone, #radio-whatsapp, #A{
    margin: 3px 3px 1px 0;
    
}
select{
    display: block;
    width: 70px ;
    margin: 10px 0 10px 0;
    padding: 0;
}
.paragrafo{
    font-size: 18px;
    margin: 10px 0 10px 0;
}
.label, .paragrafo, label{
    color: #ffffff;
}

