
p{
    text-align: center;
    
}
p.unico{
    font-size: 20px; 
    
}
em strong{
    color: red;
}
img{
    width: 100%;
    
}

.centro{
    text-align: center;
}
ul{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens{
    font-style: italic;
    
}
.beneficios{
    background: #FFFFFF;
}
.principal{
    background: #cccccc;
    padding: 30px;

}
#ben{
    width: 50%;
}
footer{
    height: 286px;
    background: url(imagens/bg.jpg);
    text-align: center;
    margin-top: 5px;
    
}

footer p {
    font-size: 13px;
    color: #FFFFFF;
    padding: 5px 0;
}
.fundo{
    margin: 5px 5px;
}
main{
    width: 940px;
}
